<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputLogin">Login</label>
    <div class="controls">
      <input type="text" id="inputLogin" placeholder="Login" ng-model="inputLogin">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" ng-model="inputPassword">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" ng-model="inputRememberMe"> Remember me
      </label>
      <button type="button" class="btn" ng-click="login.do(inputLogin,inputPassword)">Sign in</button>
    </div>
  </div>
</form>
